Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -modernize-avoid-c-arrays,
  -modernize-loop-convert,
  -readability-magic-numbers

WarningsAsErrors: ''

HeaderFilterRegex: 'src/.*|include/.*'

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'

  - key: readability-identifier-naming.VariableCase
    value: lower_case

  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'

  # weniger aggressive Loop-Ersetzungen
  - key: modernize-loop-convert.MaxCopySize
    value: '16'

  # weniger aggressiv bei “auto”-Vorschlägen
  - key: modernize-use-auto.MinTypeNameLength
    value: '8'